<div #projectsComponent class = "projects-container">
    <div style = "margin-top: 5%"></div>
    <div class = column>
        <div class = "row">
            <div class = "column">
                <div class = "normal-row">
                    <h1>RoadRover Rentals</h1>
                    <a style = "margin-top: 4.5%; margin-left: 4%;" href = "https://github.com/shehriar/road_rover" target="_blank">
                        <img height = 30px src="assets/home_assets/github.png">
                    </a>
                </div>
                <h2>Angular, ExpressJS, SQL</h2>
                <div class = "project-description">
                    <p>Developed a website for a mock car rental service called "RoadRover Rentals".
                        I used a dataset which contained data of over 500 vehicles, and implemented RESTful API endpoints
                        to connect the backend to the Angular frontend.<br><br>
                        The intuitive UI of the web application guides the user throughout the whole process,
                        from selecting dates and pickup location down to booking the vehicle.
                    </p>
                </div>
            </div>
            <div style="margin-right: 5%;"></div>
            <a class = "project-box" href = "https://www.youtube.com/watch?v=AOCD27HebLM&ab_channel=ShehriarBurney" target="_blank">
                <img class = "project-box" height="300px"src="assets/projects_assets/road_rover_image.png" alt="">
            </a>
        </div>
        <div style = "margin-top: 10%"></div>
        <div class = "row">
            <div class = "column">
                <div class = "normal-row">
                    <h1>Pothole Detection System</h1>
                    <a style = "margin-top: 4.5%; margin-left: 4%;" href = "https://github.com/shehriar/PotholeDetectionSystem" target="_blank">
                        <img height = 30px src="assets/home_assets/github.png">
                    </a>
                </div>
                <h2>Flutter, Firebase, NoSQL, Jira</h2>
                <div class = "project-description">
                    <p>Created a navigation app which warns users of potholes on their route to allow
                        for a safer journey. The application utilizes the Google Maps API to showcase a
                        view of the streets and a line is drawn for guidance. The app is also community 
                        driven as the data is gathered through users reporting potholes as they spot it. 
                        <br><br>
                        The service also houses a Goverment Portal which allows government organizations
                        to view the potholes in their communities, allowing them efficient data retrieval
                        and ensuring that potholes are patched.
                        <br><br>
                        I developed this service with a group of 4, implementing the Scrum Agile methodology
                        over a span of 3 months. Overall we completed 12 sprints and had 3 releases.
                    </p>
                </div>
            </div>
            <a href = "https://youtu.be/C7Sl7JuKmVM" target="_blank">
                <img class="pds-image" src="assets/projects_assets/pds_image.png" alt="">
            </a>
        </div>
        <div style = "margin-top: 10%"></div>
        <div class = "row">
            <div class = "column">
                <h1>Find Your Roof</h1>
                <h2>Technical Documentation and Planning</h2>
                <div class = "project-description">
                    <p>Find Your Roof is a development project which documents a thorough and strategic
                        planning for an application which assists homeless individuals to find housing and
                        employment opportunities. 
                        <br><br>
                        The application would be working with Non-Profit Organizations (NPOs) to set up a
                        healthy environment to assist homeless individuals get back on their feet. This
                        would be done by scheduling workshops, connecting them with mentors, as well as
                        connecting them with potential employers and landlords.
                    </p>
                </div>
            </div>
            <a href = "https://drive.google.com/file/d/13Lg3o5w4yJG1yFI2EGbw0Ajne9A58QCM/view?usp=drive_link" target="_blank">
                <img class = "project-box" height="300px" src="assets/projects_assets/fyr_image.png" alt="">
            </a>
        </div>
        <div style = "margin-top: 10%"></div>
        <div class = "row">
            <div class = "column">
                <div class = "normal-row">
                    <h1>3-Card Poker</h1>
                    <a style = "margin-top: 4.5%; margin-left: 4%;" href = "https://github.com/shehriar/3-Hand-Poker" target="_blank">
                        <img height = 30px src="assets/home_assets/github.png">
                    </a>
                </div>
                <h2>Java, JavaFX, Apache Maven</h2>
                <div class = "project-description">
                    <p>Designed a card game similar to Poker but with a unique twist of handling 3 cards.
                        The game utilizes multithreading to allow multiple players to independently
                        run the game via a shared server.
                    </p>
                </div>
            </div>
            <a href = "https://youtu.be/TRJfWWMRxj4" target="_blank">
                <img class = "project-box" src="assets/projects_assets/poker_image.png" alt="">
            </a>
        </div>
    </div>
</div>
