<div #projectsComponent class = "projects-container">
    <div class = column>
        <div class = "row">
            <div class = "column">
                <h1>RoadRover Rentals</h1>
                <h2>Angular, ExpressJS, SQL</h2>
                <p>This is a project </p>
            </div>
            <img height="300px"src="assets/projects_assets/road_rover_image.png" alt="">
        </div>
        <div style = "margin-top: 10%"></div>
        <div class = "row">
            <div class = "column">
                <h1>Pothole Detection System</h1>
                <h2>Flutter, Firebase, NoSQL</h2>
                <p>This is a project </p>
            </div>
            <img height="400px" src="assets/projects_assets/pds_image.png" alt="">
        </div>
        <div style = "margin-top: 10%"></div>
        <div class = "row">
            <div class = "column">
                <h1>Find Your Roof</h1>
                <h2>Technical Documentation and Planning</h2>
                <p>This is a project </p>
            </div>
            <div style="height: 300px; width: 410px; background-color: white; border-radius: 20px;">
                <img height="300px" src="assets/projects_assets/findyourroofImage.png" alt="">
            </div>
        </div>
        <div style = "margin-top: 10%"></div>
        <div class = "row">
            <div class = "column">
                <h1>3-Hand Poker</h1>
                <h2>Java, JavaFX, Apache Maven</h2>
                <p>This is a project </p>
            </div>
            <img height="300px" src="assets/projects_assets/poker_image.png" alt="">
        </div>
    </div>
</div>
