<div #projectsComponent class = "projects-container">
    <div style = "margin-top: 5%"></div>
    <div class = column>
        <div *ngFor = "let project of projectArray">
            <div class = "row">
                <div class = "column">
                    <div class = "normal-row">
                        <h1>{{project.name}}</h1>
                        <div *ngIf = "project.githubLink != ''" style = "margin-top: 4.5%; margin-left: 4%;">
                            <a href = "{{project.githubLink}}" target="_blank">
                                <img height = 30px src="assets/home_assets/github.png">
                            </a>
                        </div>
                    </div>
                    <h2>{{project.languages}}</h2>
                    <div class = "project-description">
                        <p [innerHTML]="project.description"></p>
                    </div>
                </div>
                <div style="margin-right: 5%;"></div>
                <a href = "{{project.demoLink}}" target="_blank">
                    <img class = "project-box" [style.height]="project.imageHeight" src="{{project.image}}" alt="">
                </a>
            </div>
            <div style = "margin-top: 10%"></div>
        </div>
    </div>
</div>
