.top-row{
    display: flex;
    justify-content: flex-end;
    position: static;
    height: 80px;
}

button{
    width: 100px;
    cursor: pointer;
    background-color: transparent;
    border: 0px solid transparent;
    font-size: 14px;
    margin-right: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    font-weight: bold;
}