<div #homeComponent class = "home">
    <div class = "row">
        <div class = "column">
            <h1>Hello, I am <span style="color: rgb(80, 189, 239); font-size: 36px;">Shehriar Burney</span></h1>
            <h2 style="margin-bottom: 5px;">B.S. Computer Science student at <span style="color:rgb(234, 57, 57)">UIC</span></h2>
            <h3 style="margin-top: 0px;">(Exp. Graduation: December 2024)</h3>
            <h4>Programming Languages:</h4>
            <div class = "row" style="margin-left: 10%;">
                <img src="assets/home_assets/cpp_image.png" alt="">
                <img src="assets/home_assets/python_image.png" alt="">
                <img src="assets/home_assets/java_image.png" alt="">
                <img src="assets/home_assets/dart_image.png" alt="">
                <img src="assets/home_assets/sql_image.png" alt="">
            </div>
            <h4>Web Development:</h4>
            <div class = "row" style="margin-left: 10%;">
                <img src="assets/home_assets/angular_image.png" alt="">
                <img src="assets/home_assets/nodejs_image.png" alt="">
                <img src="assets/home_assets/html_image.png" alt="">
                <img src="assets/home_assets/css_image.png" alt="">
                <img src="assets/home_assets/js_image.png" alt="">
                <img src="assets/home_assets/ts_image.png" alt="">
            </div>

            <!-- <div class = "row">
                <img src="assets/home_assets/angular_image.png" alt="">
                <img src="assets/home_assets/nodejs_image.png" alt="">
                <img src="assets/home_assets/html_image.png" alt="">
                <img src="assets/home_assets/css_image.png" alt="">
                <img src="assets/home_assets/js_image.png" alt="">
                <img src="assets/home_assets/flutter_image.png" alt="">
            </div>
            <div style = "margin-top: 2%;"></div>
            <div class = "row">
                <img src="assets/home_assets/cpp_image.png" alt="">
                <img src="assets/home_assets/python_image.png" alt="">
                <img src="assets/home_assets/java_image.png" alt="">
                <img src="assets/home_assets/ts_image.png" alt="">
                <img src="assets/home_assets/sql_image.png" alt="">
                <img src="assets/home_assets/dart_image.png" alt="">
            </div> -->
        </div>
        <img class = "sheh-image"style="margin-left: 25%;" src="assets/home_assets/sheh_image.png" alt="">
    </div>
</div>